html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header span {
    float: left;
}

#btnAdd {
    float: right;
    margin-top: 15px;
}

#form-add,
#form-edit {
    padding-top: 20px;
    padding-right: 30px;
}